@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
@font-face {
    font-family: 'Gosha Sans';
    src: url("../fonts/GoshaSans-Regular.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Gosha Sans';
    src: url("../fonts/GoshaSans-Bold.otf") format("opentype");
    font-style: normal;
    font-weight: bold;
}

html {
    min-height: 100%;
}

body {
    min-height: 100%;
    background: #161616;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #D1D1D1;
    overflow-x: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

/*================header===================*/

header {
    margin-top: 32px;
    margin-bottom: 32px;
}

.navbar {
    padding: 0;
}

.navbar a {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0;
	font-family: 'Montserrat', sans-serif;
    padding-bottom: 8px;
}

.navbar .phone a {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 18px;
}

.navbar-nav li:nth-child(-n+2) {
    margin-right: 50px;
}

.navbar-toggler:focus {
    outline: none;
}

/*================first-section=============*/

.first-section {
    margin-bottom: 256px;
}

.first-section-text {
    position: relative;
}

.annotation {
    position: relative;
    color: #D1D1D1;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 16px;
    padding-top: 90px;
    z-index: 2;
}

.topic {
    position: relative;
    width: 750px;
    color: #fff;
    font-family: 'Gosha Sans';
    font-size: 64px;
    font-weight: bold;
    line-height: 75px;
    z-index: 2;
}

.btn-order {
    position: relative;
    width: 350px;
    height: 80px;
    border: 0;
    background: #2722F4;
    color: #fff;
    font-weight: 700;
    margin-top: 64px;
    transition: all .3s;
    z-index: 2;
}

.btn-order:hover {
    background: #0000CC;
    -webkit-box-shadow: 0px 5px 30px rgba(39, 34, 244, 0.3);
    box-shadow: 0px 5px 30px rgba(39, 34, 244, 0.3);
}

.btn-order:active {
    -webkit-transition: -webkit-transform .1s;
    transition: -webkit-transform .1s;
    transition: transform .1s;
    transition: transform .1s, -webkit-transform .1s;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
}

.btn-order:focus {
    outline: none;
}

.img-engine {
    position: absolute;
    right: -45px;
    bottom: -90px;
    z-index: 1;
    pointer-events: none;
}

/* Float Shadow */
.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(39, 34, 244, 0.3) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}

.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    /* move the element up by 5px */
}

.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/*===========complex-section============*/
.complex-section {
    margin-bottom: 256px;
}

.complex-icon {
    height: 92px;
    line-height: 92px;
    margin-bottom: 47px;
}

.complex-title {
    width: 400px;
    font-family: 'Gosha Sans';
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 128px;
}

.complex-num {
    font-family: 'Gosha Sans';
    font-size: 36px;
    font-weight: 400;
    color: #fff;
}

.complex-text {
    font-family: 'Gosha Sans';
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    padding-top: 10px;
    width: 200px;
    color: #fff;
}

.complex-description {
    margin-top: 32px;
}

.complex-card .media-body {
    padding-left: 15px;
}

/*===========result-section============*/

.result-section {
    margin-bottom: 256px;
}

.result-title {
    font-family: 'Gosha Sans';
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: #fff;
    margin-bottom: 128px;
}

.result-text {
    width: 445px;
    font-family: 'Gosha Sans';
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
    margin-bottom: 32px;
}

/*===========snowball-section===========*/

.snowball-section {
    height: 861px;
    padding-right: 15px;
    margin-bottom: 256px;
}

.snowball-bg-img {
    position: relative;
    width: 100%;
    height: 861px;
    background: url(../img/seo_mountains.jpg) center no-repeat;
}

.snowball-topic {
    position: absolute;
    top: 128px;
    right: -200px;
    font-family: 'Gosha Sans';
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    width: 730px;
    line-height: 40px;
}

.snowball-card {
    position: absolute;
    top: 392px;
    right: -285px;
    background: #0A0A0A;
    width: 635px;
    padding: 64px 70px;
}

li.snowball-list-item {
    list-style-type: none;
    line-height: 25px;
}

li.snowball-list-item::before {
    content: "— ";
}

/*==========fiftyone-section============*/

.fiftyone-section {
    margin-bottom: 256px;
}

.fiftyone-wrap {
    margin-top: 84px;
}

.fiftyone-topic {
    font-family: 'Gosha Sans';
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    width: 90%;
    margin-bottom: 32px;
    line-height: 40px;
}

.fiftyone-text {
    line-height: 25px;
    width: 90%;
}

.fiftyone-text a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #fff;
}

.half-round {
    position: relative;
}

.half-round img {
    width: 100%;
    height: auto;
}

.fiftyone-num {
    position: absolute;
    right: 16%;
    bottom: 16%;
    font-family: 'Gosha Sans';
    font-size: 36px;
    font-weight: 400;
    color: #fff;
}

/*==============format-section=============*/

.format-section {
    margin-bottom: 256px;
}

.format-topic {
    font-family: 'Gosha Sans';
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    width: 90%;
    color: #fff;
}

.format-header {
    font-family: 'Gosha Sans';
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 32px;
    width: 90%;
}

ul.format-list {
    margin-bottom: 32px;
}

li.format-list-item {
    list-style-type: none;
    line-height: 25px;
}

li.format-list-item::before {
    content: "— ";
}

.format-text {
    line-height: 25px;
    width: 90%;
}

/*============cases-section===============*/
.section-cases {
    color: #fff;
    margin-bottom: 256px;
}

.cases-topic {
    font-family: 'Gosha Sans';
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 80px;
}

.section-cases .arrows {
    position: absolute;
    z-index: 10;
    right: 10%;
    top: 105%;
}

.section-cases .arrow {
    display: inline-block;
    position: relative;
    margin: 0 3px;
    height: 78px;
    width: 78px;
    border: 0;
}

.section-cases .arrow span {
    position: absolute;
    top: 35%;
    left: 37%;
}

.section-cases span {
    display: inline-block;
}

.section-cases span .rub {
    font-size: 24px;
    line-height: 24px;
}

.section-cases .carousel-cell {
    -webkit-transition: -webkit-filter 0.5s;
    transition: -webkit-filter 0.5s;
    transition: filter 0.5s;
    transition: filter 0.5s, -webkit-filter 0.5s;
    -webkit-filter: saturate(0);
    filter: saturate(0);
    margin: 0 15px;
    padding: 64px 42px 64px 40px;
}

@media (min-width: 992px) {
    .section-cases .carousel-cell {
        max-width: 445px;
    }
}

.section-cases .carousel-cell.is-selected {
    -webkit-filter: saturate(0.8);
    filter: saturate(0.8);
}

.section-cases .carousel-cell p {
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px;
    margin-top: 32px;
    margin-bottom: 16px;
    height: 110px;
    font-weight: 500;
    color: white;
}

.section-cases .carousel-cell .num {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    margin-bottom: 8px;
}

.section-cases .carousel-cell .desc {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #D1D1D1;
}

.section-cases .carousel-cell .w-100 {
    margin-bottom: 32px;
}

.section-cases .carousel-cell .row {
    margin-bottom: 48px;
}

.section-cases .carousel-cell .a-btn {
    font-weight: bold;
}

.section-cases .carousel-cell .a-btn::after {
    content: '———';
}

.section-cases .carousel-cell h2 {
    font-weight: bold;
}

.section-cases a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-cases a:hover {
    color: #7C7C7C;
}

.section-cases a::after {
    content: '→';
    margin-left: 10px;
}

.section-cases h1 {
    margin-bottom: 104px;
}

.section-cases #cpu {
    background: url("../img/cpu_card_bg.jpg") no-repeat;
    background-size: cover;
    background-position: bottom;
}

.section-cases #megapolis {
    background: url("../img/megapolis_card_bg.jpg") no-repeat;
    background-size: cover;
    background-position: bottom;
}

.section-cases #krasroad {
    background: url("../img/krasroad_card_bg.jpg") no-repeat;
    background-size: cover;
    background-position: bottom;
}

.btn-main {
    height: 80px;
    background: #2722F4;
    color: #ffffff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    border: 0;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.btn-main:hover {
    background: #0000CC;
    -webkit-box-shadow: 0px 5px 30px rgba(39, 34, 244, 0.3);
    box-shadow: 0px 5px 30px rgba(39, 34, 244, 0.3);
}

.btn-main:focus,
.arrow:focus {
    outline: none;
}

.btn-main:active,
.arrow:active {
    -webkit-transition: -webkit-transform .1s;
    transition: -webkit-transform .1s;
    transition: transform .1s;
    transition: transform .1s, -webkit-transform .1s;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
}

.arrow {
    background: #2722F4;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.arrow:hover {
    background: #0000CC;
    -webkit-box-shadow: 0px 5px 30px rgba(39, 34, 244, 0.3);
    box-shadow: 0px 5px 30px rgba(39, 34, 244, 0.3);
}


/*============section-reviews=============*/

.section-reviews {
    position: relative;
    margin-bottom: 256px;
}

.section-reviews .background {
    background: #121212;
    height: 70%;
    width: 90%;
    left: 50%;
    z-index: -1;
}

.section-reviews h1 {
    position: absolute;
    display: block;
    left: 15%;
    bottom: 93%;
    z-index: 1;
    font-family: 'Gosha Sans';
    font-size: 64px;
    font-weight: 700;
    color: #fff;
}

.section-reviews .review {
    background: #0A0A0A;
    padding: 128px 270px 100px 100px;
    padding-bottom: 100px;
}

.section-reviews .review p {
    font-family: Montserrat;
    font-size: 24px;
    line-height: 36px;
    font-weight: normal;
    color: #D1D1D1;
}

.section-reviews .review .media .media-body {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    color: #686868;
}

.section-reviews .review .media .media-body h5 {
    font-size: 16px;
    color: #ffffff;
}

.section-reviews .review .media img {
    height: 60px;
    width: 60px;
}

.section-reviews .number-reviews {
    position: absolute;
    right: 10%;
    bottom: 130%;
    margin-top: -60px;
    font-size: 30px;
    line-height: 40px;
    font-family: 'Gosha Sans';
    font-weight: 400;
    color: #fff;
}

.section-reviews .number-reviews span {
    font-size: 60px;
}

.section-reviews .arrows {
    position: absolute;
    right: 10%;
    top: 85%;
    margin-right: -60px;
}

.section-reviews .arrow {
    display: inline-block;
    position: relative;
    margin: 0 3px;
    height: 78px;
    width: 78px;
    border: 0;
}

.section-reviews .arrow span {
    position: absolute;
    top: 35%;
    left: 37%;
}

.section-reviews a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-reviews a:hover {
    color: #7C7C7C;
}

.section-reviews .a-btn {
    font-weight: bold;
    display: block;
    margin-top: 48px;
}

.section-reviews .a-btn::after {
    margin-left: 10px;
    content: '';
    display: inline-block;
    height: 2px;
    background: #fff;
    width: 50px;
    vertical-align: middle;
}

.section-reviews .a-btn:hover::after {
    background: #7C7C7C;
}

/*===========section-contact=============*/
.section-articles {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-articles .col-4,
.section-articles .col-10 {
  margin: 32px 0;
}

.section-articles .col-4 .card-inner,
.section-articles .col-10 .card-inner {
  display: block;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  padding: 40px;
  height: 100%;
  min-height: 230px;
  background: #0A0A0A;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.25);
}

.section-articles .col-4 .card-inner:hover,
.section-articles .col-10 .card-inner:hover {
  background: #2722F4;
}

.section-articles .col-4 .card-inner .top-line,
.section-articles .col-10 .card-inner .top-line {
  font-size: 12px;
  line-height: 32px;
  text-transform: uppercase;
}

.section-articles .col-4 .card-inner h5,
.section-articles .col-10 .card-inner h5 {
  font-size: 24px;
  line-height: 30px;
}

.section-articles .col-4 .card-inner .a-btn,
.section-articles .col-10 .card-inner .a-btn {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;

}


.section-articles .col-4 .card-inner .a-btn,
.section-articles .col-10 .card-inner .a-btn {
  font-weight: bold;
  display: block;
  margin-top: 24px;
  position: absolute;
  margin-bottom: 20px;
  bottom: 0px;
}

.section-articles .col-4 .card-inner .a-btn::after,
.section-articles .col-10 .card-inner .a-btn::after {
  margin-left: 10px;
  content: "";
  display: inline-block;
  height: 2px;
  background: #fff;
  width: 50px;
  vertical-align: middle;
}


.section-articles .top-line {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #D8D8D8;
}

.section-articles .header {
  margin-bottom: 104px;
}

.section-articles .articles-carousel .carousel-cell {
  display: block;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  margin: 0 15px;
  padding: 15px;
  padding-bottom: 30px;
  background: #0A0A0A;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.25);
}

.section-articles .articles-carousel .carousel-cell.is-selected {
  background: #2722F4;
}

.section-articles .articles-carousel .carousel-cell .top-line {
  font-size: 12px;
  line-height: 32px;
  text-transform: uppercase;
}

.section-articles .articles-carousel .carousel-cell h5 {
  display: block;
  font-size: 18px;
  line-height: 26px;
  height: 78px;
}

.section-articles .articles-carousel .carousel-cell .a-btn {
  font-size: 14px;
  line-height: 24px;
}

.section-articles .articles-carousel .carousel-cell .a-btn {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}


.section-articles .articles-carousel .carousel-cell .a-btn {
  font-weight: bold;
  display: block;
  margin-top: 24px;
}

.section-articles .articles-carousel .carousel-cell .a-btn::after {
  margin-left: 10px;
  content: "";
  display: inline-block;
  height: 2px;
  background: #fff;
  width: 50px;
  vertical-align: middle;
}




/*===========section-contact=============*/

.section-contact {
    margin-bottom: 256px;
}

.section-contact .left h1 {
    margin-bottom: 32px;
    font-family: 'Gosha Sans';
    font-size: 64px;
    font-weight: 700;
    color: #fff;
}

.section-contact .left p {
    margin-bottom: 54px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #D1D1D1;

}

.section-contact .left span {
    display: block;
    font-family: Gosha Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    margin: 8px;
}

.section-contact .left span:hover {
    color: #7C7C7C;
}

.section-contact .left a {
    text-decoration: none;
}

.section-contact .right .form-group {
    margin-bottom: 46px;
}

.section-contact .right label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #DADADA;
}

.section-contact .right input,
.section-contact .right textarea {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
}

.section-contact .right input::-webkit-input-placeholder,
.section-contact .right textarea::-webkit-input-placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #666666;
}

.section-contact .right input:-ms-input-placeholder,
.section-contact .right textarea:-ms-input-placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #666666;
}

.section-contact .right input::-ms-input-placeholder,
.section-contact .right textarea::-ms-input-placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #666666;
}

.section-contact .right input::placeholder,
.section-contact .right textarea::placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #666666;
}

.section-contact .right .form-control {
    -webkit-transition: border-bottom-color 0.3s;
    transition: border-bottom-color 0.3s;
    border: 0;
    border-radius: 0;
    border-bottom: 1px #979797 solid;
    background: none;
    padding: 0;
}

.section-contact .right .form-control:focus {
    color: #D1D1D1;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom-color: #ffffff;
}

/*=================footer==================*/

.footer {
    padding: 88px 80px 10px 160px;
    background: #0A0A0A;
}

.footer .row {
    margin-bottom: 100px;
}

.footer .container {
    padding: 0;
}

.footer img {
    width: 350px;
    height: 135px;
}

.footer .right span {
    display: block;
    font-family: Montserrat;
    font-style: normal;
    color: #D1D1D1;
}

.footer .right .first-line {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.footer .right .second-line {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 32px;
}

.footer .last-line {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #626262;
}